.breadcrumb-panel {
  overflow-x: auto;

  &::-webkit-scrollbar {
    display: none;
  }
}

.breadcrumb {
  flex-wrap: nowrap;
}

.breadcrumb-item {
  display: flex;
  line-height: 1;
  white-space: nowrap;

  a {
    display: flex;
    align-items: center;
    color: $text-muted;

    &:hover {
      color: $primary;
    }
  }

  &.active {
    font-weight: $font-weight-semibold;
  }
}