.card {
  &.border-dotted-info {
    border: 1px dashed $info-light-color;
    background: $gray-100;

    span {
      color: $text-muted;
    }

    label {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  &.border-dotted-danger {
    border: 1px dashed $danger-light-color;
    background: $gray-100;

    span {
      color: $danger-color;
    }

    label {
      color: $info-color;
      text-decoration: underline;
      cursor: pointer;
    }
  }

  &.sample-format {
    background: $gray-100;

    .card-body {
      padding: 1rem;
    }
  }
}