footer {
  background-color: $tertiary-color;

  .footer-panel {
    padding: 1rem 0 0;

    @include media-breakpoint-up(lg) {
      border-top: 1px solid $gray-300;
      border-bottom: 1px solid $gray-300;
      padding: 5rem 0 2rem;
    }
  }

  .footer-brand {
    margin-bottom: 1.5rem;
  }

  .title {
    font-size: $font-size-md;
  }

  .footer-nav {
    @include media-breakpoint-up(md) {
      margin-top: 2rem;
    }

    @include media-breakpoint-up(lg) {
      margin-top: 0;
    }

    .collapse-item {
      .collapse-title {
        font-size: 1rem;
        font-weight: $font-weight-medium;
      }

      .nav {
        padding-top: 0.75rem;

        @include media-breakpoint-down(md) {
          margin-bottom: 1rem;
        }

        .nav-link {
          padding: 1rem;
          text-decoration: none;
          color: $gray-900;
          font-size: 0.75rem;

          @include media-breakpoint-up(md) {
            padding: 0.5rem 0;
          }

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  .socialmedia {
    .title {
      font-size: 0.75rem;
      @include media-breakpoint-down(md) {
        text-align: center;
      }
    }
  }
}

.newsletter {
  .title {
    @include media-breakpoint-down(md) {
      text-align: center;
    }
  }

  .text {
    color: $gray-900;
    font-size: $font-size-sm;

    @include media-breakpoint-down(md) {
      text-align: center;
    }
  }
}

.copyright {
  margin: 1.25rem 0;

  .text {
    color: $gray-900;
    font-size: $font-size-sm;
    @include media-breakpoint-down(md) {
      text-align: center;
    }
  }
}
