.input-group-icon {
  position: relative;

  .input-group-text {
    position: absolute;
    top: 0;
    border: 0;
    border-radius: $input-border-radius;
    background: none;
    padding: 0.75rem 1rem;
    z-index: 1;

    &.input-icon {
      left: 0;
      right: auto;
    }

    &.btn-eye {
      left: auto;
      right: 0;
    }
  }

  .form-control {
    border-top-left-radius: $input-border-radius;
    border-bottom-left-radius: $input-border-radius;
    padding-left: 3.5rem;
    padding-right: 3.5rem;

    &.search {
      padding-left: 2.5rem;
      padding-right: 1rem;

      &:hover {
        border-color: $gray-500;
      }

      &:focus,
      &:active {
        border-color: $primary;
      }
    }
  }
}

.form-label {
  &.sm {
    font-size: $font-size-sm;
  }
}

.form-check-input {
  margin-top: ($line-height-base - $form-check-input-width) * .3;
}

.form-control {
  &:focus {
    box-shadow: none;
  }
  &:hover {
    border-color: $gray-500;
  }
}

.form-switch {
  .form-check-input {
    border-color: $gray-200;
    background-color: $gray-200;

    &:hover {
      cursor: pointer;
    }

    &:checked {
      border-color: $primary;
      background-color: $primary;
    }
  }
}

.input-group-xs {
  .input-icon {
    padding: 0.5rem;
  }

  .form-control {
    padding: 0.283rem $input-padding-x-sm;

    &.search {
      padding-left: 2rem;
    }
  }
}

.dropdown {
  &.location-filter {
    min-width: 16rem;
  }

  .search-filter {
    max-height: 30rem;
    overflow-y: auto;
    
    .search-panel {
      margin: 1rem;
    }

    .no-result {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      min-height: 14rem;
      text-align: center;
      padding: 0 1rem;
    }

    .search-result {
      max-height: 16rem;
      overflow-y: auto;
    }

    .filter-items {
      padding: 0 1rem;
    }

    .collapse {
      max-height: 16rem;
      overflow-y: auto;
    }

    .filter-main-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: $text-muted;
      cursor: pointer;
      border-top: 1px solid $gray-200;
      padding: 0.75rem 1rem;

      &:hover {
        color: $primary;

        path {
          fill: $primary;
        }

        .stroke {
          fill: $primary;
        }
      }

      &.active {
        color: $primary;
        border-bottom: 1px solid $gray-200;
        background: $gray-100;

        .icon {
          rotate: 90deg;
        }
      }
    }

    .filter-item {
      cursor: pointer;
      padding: 0.5rem 0;

      &:first-child {
        padding-top: 1rem;
      }

      &:last-child {
        padding-bottom: 1rem;
      }
    }
  }
}