header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: $tertiary-color;
  z-index: 3;

  .header-top {
    .navbar {
      padding: $navbar-padding-y 0;

      @include media-breakpoint-down(md) {
        border-bottom: 0;
      }

      .navbar-nav {
        border: 1px solid red;
        .nav-item {
          display: flex;
          align-items: center;

          @include media-breakpoint-down(md) {
            margin-top: 0.5rem;
            margin-left: 0;
          }
        }
      }

      .nav-links {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: 100%;

        .links {
          padding: 0 0.75rem;
          text-decoration: none;
          color: $primary-color;

          a {
            text-decoration: none !important;
            font-weight: $font-weight-normal;

            &:active {
              border-bottom: 1px solid red;
            }
          }
        }
      }
    }

    .mobile-nav-links {
      border: 1px solid blue;
    }
  }
}
