.modal {
  .subtitle {
    font-size: $font-size-lg;
    font-weight: $font-weight-bold;
  }

  .audit-log {
    border-bottom: 1px solid $gray-300;
    padding-bottom: 2.5rem;
    
    h4 {
      position: relative;
      padding-left: 2rem;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        width: 1px;
        height: 1.5rem;
        border-left: 1px solid $gray-300;
      }
    }
  }
}

.modal-title {
  font-size: $font-size-xl;
}

.modal-header {
  padding-bottom: 1.5rem;

  .btn-close {
    position: absolute;
    right: 52px;
    padding: 0.5rem;
    opacity: 0.4;

    &:hover {
      border-radius: 50%;
      background-color: $gray-200;
      opacity: 1;
    }
  }
}

.modal-body {
  padding: 1.5rem 2.5rem;
}

.modal-footer {
  padding: 2.5rem;
  padding-top: 0;

  > * {
    margin: 0;
  }
}

.progress-panel {
  .circle-background,
  .circle-progress {
    fill: none;
  }

  .circle-background {
    stroke: $info-lighter-color;
  }

  .circle-progress {
    stroke: $info-color;
    stroke-linecap: round;
    stroke-linejoin: round;
  }

  .circle-text {
    font-size: $font-size-lg;
  }
}