.order-details-panel {
  padding-bottom: 1.5rem;

  .subtitle {
    font-weight: $font-weight-semibold;
  }

  .time-stamp {
    p {
      &:first-child {
        color: $gray-600;
      }
    }
  }

  .payment-details {
    p {
      font-weight: $font-weight-semibold;
      text-align: end;
    }
  }

  .customer-details {
    word-break: break-word;

    .card {
      border-radius: $border-radius-sm;
    }
  }

  .notes-panel {
    border-top: 1px solid $card-border-color;
    border-radius: 0 0 $border-radius $border-radius;

    .log-panel {
      position: relative;

      &::before {
        position: absolute;
        top: 6px;
        left: -26px;
        content: '';
        width: 0.3125rem;
        height: 0.3125rem;
        border-radius: 50%;
        background: $gray-700;
      }

      .chat-user {
        color: $gray-700;
        font-size: $font-size-sm;
        font-weight: $font-weight-semibold;
        margin-right: 0.5rem;
      }
    }

    .form-text {
      color: $gray-600;
      font-size: $font-size-sm;
      margin-top: 0;
    }

    .order-status {
      max-height: 14rem;
      overflow-y: auto;
      margin-top: 1rem;
      padding: 0.5rem 0.5rem 0 0.25rem;

      ul {
        position: relative;
        height: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: left -1px bottom 6px;
        margin-bottom: 0;
        padding-left: 0;

        li {
          position: relative;
          background-image: url('data:image/svg+xml,%3Csvg%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M15.3536%208.35355C15.5488%208.15829%2015.5488%207.84171%2015.3536%207.64645L12.1716%204.46447C11.9763%204.2692%2011.6597%204.2692%2011.4645%204.46447C11.2692%204.65973%2011.2692%204.97631%2011.4645%205.17157L14.2929%208L11.4645%2010.8284C11.2692%2011.0237%2011.2692%2011.3403%2011.4645%2011.5355C11.6597%2011.7308%2011.9763%2011.7308%2012.1716%2011.5355L15.3536%208.35355ZM0%208.5H15V7.5H0V8.5Z%22%20fill%3D%22%23585E6C%22%2F%3E%3C%2Fsvg%3E');
          background-size: 1rem;
          background-repeat: no-repeat;
          background-position: top 33px left;
          list-style: none;
          padding: 0.75rem 0 0.75rem 1.5rem;

          .timestamp {
            color: $gray-600;
            font-size: $font-size-xs;
            margin-left: 0.25rem;
          }

          &::after {
            content: '';
            position: absolute;
            left: 0;
            top: 1.25rem;
            height: 100%;
            border-left: 1px solid $gray-700;
          }

          &:last-child {
            padding-bottom: 0;

            &::after {
              height: 21px;
            }
          }
        }
      }
    }
  }
}

.delivery-retry-panel {
  font-size: $font-size-sm;
  border: 1px solid $gray-200;
  border-radius: $border-radius-sm;

  .attribute {
    height: 100%;
    font-weight: $font-weight-semibold;
    border-right: 1px solid $gray-200;
    border-bottom: 1px solid $gray-200;
    background-color: $gray-100;
    padding: 0.75rem 1rem;
  }

  .value {
    height: 100%;
    padding: 0.75rem 1rem;
    border-bottom: 1px solid $gray-200;
  }
}

.stepper-item {
  display: flex;
  align-items: center;
  color: $gray-500;
  border-bottom: 2px solid $gray-400;
  padding-bottom: 0.5rem;

  .stepper-check {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1rem;
    height: 1rem;
    margin-right: 0.5rem;
    border-radius: 50%;
    background: $gray-500;
  }

  p {
    color: $gray-600;
    font-weight: $font-weight-semibold;
  }

  &.active {
    border-color: $primary;
    color: $primary;

    .stepper-check {
      background: $primary;
    }

    p {
      color: $primary;
    }
  }
}

.store-panel {
  max-height: 20rem;
  overflow-y: auto;

  .store-card {
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;

    &:last-child {
      margin-bottom: 0;
    }

    &:hover {
      border: 1px solid $gray-600;
      background: $gray-100;
    }
  }
}