.pagination {
  margin-bottom: 0;

  .page-item {
    margin-right: 0.5rem;

    .page-link {
      color: $black;
      @include border-radius(var(--#{$prefix}pagination-border-radius));
      z-index: 2;

      &:hover {
        color: $gray-700;
        background: $gray-200;
      }
    }

    &:active,
    &.active {
      .page-link {
        color: $white;
        border-color: $primary;
        background: $primary;

        [class*='fill-'] {
          fill: $white;
        }

        [class*='stroke-'] {
          path {
            stroke: $white;
          }
        }
      }
    }

    &.disabled {
      pointer-events: none;

      .page-link {
        color: $gray-300;
        border-color: $gray-300;

        [class*='fill-'] {
          fill: $gray-300;
        }

        [class*='stroke-'] {
          path {
            stroke: $gray-300;
          }
        }
      }
    }
  }
}