// SOme more CSS

.product-information {
  .info-details {
    position: relative;
    background: $gray;
  }

  .info-content-panel {
    .title {
      font-size: $font-size-lg;

      @include media-breakpoint-down(md) {
        font-size: $font-size-md;
      }
    }

    .content {
      margin: 124px 0;

      @include media-breakpoint-down(xl) {
        margin: 3rem 0;
      }

      @include media-breakpoint-down(lg) {
        margin: 0;
      }
    }

    .text {
      line-height: 20px;
    }

    .icon-item {
      display: flex;
      align-items: center;
      margin-bottom: 5.5rem;

      @include media-breakpoint-down(xl) {
        margin-bottom: 2.5rem;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .info-image-panel {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    overflow: hidden;

    @include media-breakpoint-down(lg) {
      margin: 0 -1.5rem;
    }

    @include media-breakpoint-down(md) {
      margin: 0 -1rem;
    }

    .info-image {
      @include media-breakpoint-down(xxl) {
        margin-right: -1.5rem;
      }

      @include media-breakpoint-down(lg) {
        width: 100%;
        margin-right: 0;
      }

      img {
        max-width: 100%;
        height: auto;
        filter: invert(2%);

        @include media-breakpoint-down(lg) {
          width: 100%;
        }
      }
    }
  }

  .info-tabs-pill {
    position: relative;
    padding-top: 3.5rem;
    z-index: 2;

    @include media-breakpoint-down(lg) {
      padding-top: 2rem;
    }

    @include media-breakpoint-down(md) {
      padding-top: 0.25rem;
    }

    .nav-item {
      @include media-breakpoint-down(md) {
        width: 50%;
      }

      .nav-link {
        @include media-breakpoint-down(md) {
          width: 100%;
        }
      }
    }
  }

  .accordion {
    border-bottom: 1px solid $accordion-border-color;

    .accordion-button {
      background: $gray;
    }

    .accordion-body {
      background: $gray;
    }
  }
}
