.alert-dismissible {
  font-size: $font-size-base;
  padding-right: 0.5rem;
}

.alert-danger {
  color: $danger-lighter-color;
  border-color: rgba($danger-lighter-color, 0.3);
  background: rgba($danger-lighter-color, 0.15);
}