.order-list-panel {
  background: $white;
  padding: 2.5rem 0;

  .search {
    .input-group {
      border-left: 0;

      .form-control {
        border: 1px solid $gray-400;
        border-radius: $border-radius;
        border-left: 0;
        padding-left: 0;
      }

      .btn {
        border: 1px solid $gray-400;
        border-radius: $border-radius;
        border-right: 0;
        background: none;
        padding-right: 0.5rem;
      }
    }
  }
}

.badge {
  .btn-close {
    border: 0;
    margin-left: 0.5rem;
    line-height: 0;
    background: transparent;
    padding: 0;
  }
}