table {
  font-size: $font-size-sm;

  thead {
    background: $gray-100;

    th {
      border-right: 1px solid $gray-300;

      &:nth-last-child(2) {
        border-right: 0;
      }

      &:last-child {
        border-right: 0;
        border-left: 1px solid $gray-300;
        background: $gray-100;
      }
    }
  }

  tr {
    &:last-child {
      td {
        border-bottom: 0;
      }
    }
  }

  &.table-striped {
    >tbody {
      >tr {
        &:nth-of-type(odd) {
          >* {
            &.col-sticky {
              background: $gray-100;
            }
          }
        }
      }
    }
  }

  .col-sticky {
    position: sticky;
    right: 0;
    box-shadow: inset 1px 0 0 $gray-300;
    background: $white;
  }

  .product-image {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.5rem;

    img {
      width: 1.5rem;
      height: 1.5rem;
      margin-right: 0.25rem;
      border: 1px solid $gray-300;
      border-radius: 0.25rem;
      transition: transform .2s;
      transform-origin: left bottom;
    }

    &:hover {
      img {
        position: absolute;
        height: auto;
        border-width: 0.2px;
        transform: scale(4);
        box-shadow: 0px 8px 50px -8px $black;
      }
    }
  }

  .product-text {
    max-width: 18rem;
  }

  .brand-text {
    max-width: 10rem;
  }
}

.table-border {
  border: 1px solid $gray-300;
  border-radius: $border-radius-sm;
}